.header {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: flex-start;
  background-color: rgb(210, 210, 210);
  padding: 30px 50px;
  text-align: center;
  font-size: 30px;
  color: white;
  font-family: "Montserrat", sans-serif;
  width: 100%;
}

.button {
  margin: 0;
  background: transparent;
  padding: 0;
  border: none;
}

.button {
  --border-right: 10px;
  --text-stroke-color: white;
  --animation-color: #327b76;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hoverText {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}

.button:hover .hoverText {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}

.footer {
  position: fixed;
  display: flex;
  justify-content: flex-start;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(210, 210, 210);
  padding: 30px 50px;

  color: white;
}
@media (max-width: 600px) {
}
