.sidebarContainer {
  padding-top: 80px;
  background-color: #327b76;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
}
.navText {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10%;
  width: 120px;
  height: 120px;
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: 18px;
  border-radius: 20px;
  background: #327b76;
  box-shadow: 9px 9px 25px #14312f, -9px -9px 25px #50c5bd;
}
