.switchHolder {
  display: flex;
  align-items: center;
}

.switchLabel {
  padding: 0 20px 0 10px;
  font-size: 18px;
}

.switchLabel i {
  margin-right: 5px;
}

.switchToggle {
  height: 40px;
}

.switchToggle input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  z-index: -2;
}

.switchToggle input[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  margin: 0;
  cursor: pointer;
  box-shadow: inset -8px -8px 15px rgba(255, 255, 255, 0.6),
    inset 10px 10px 10px rgba(0, 0, 0, 0.25);
}

.switchToggle input[type="checkbox"] + label::before {
  position: absolute;
  content: "ask";
  font-size: 13px;
  text-align: center;
  line-height: 25px;
  top: 8px;
  left: 8px;
  width: 45px;
  height: 25px;
  border-radius: 20px;
  background-color: #eeeeee;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5),
    3px 3px 5px rgba(0, 0, 0, 0.25);
  transition: 0.3s ease-in-out;
}

.switchToggle input[type="checkbox"]:checked + label::before {
  left: 50%;
  content: "desk";
  color: #fff;
  background-color: #327b76;
  box-shadow: -3px -3px 5px rgba(255, 255, 255, 0.5), 3px 3px 5px #327b76;
}
.switchSort {
  display: flex;
  min-width: 335px;
  justify-content: space-between;
}
.sortButton {
  border: none;
  font-size: 18px;
  border-radius: 3px;
  background-color: #e8e8e8;
  box-shadow: 6px 6px 12px #ffffff, -6px -6px 12px #c5c5c5;
}
