* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  background-size: cover;
  text-align: center;
}

.container {
  display: flex;
  color: #171212;
  background-color: rgb(255, 254, 254);
  margin: 120px 0;
  height: 100vh;
}
.todoContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10px 100px;
  padding: 10px 100px;
  padding-top: 2%;
}
/* ================================= 
 Media Query for Mobile Devices
==================================== */

@media only screen and (max-width: 600px) {
  .todoContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0 10px;
    background-color: rgb(255, 255, 255);
  }
}

/* @media only screen and (max-width: 1024px) {
  .todoContainer {
    margin: 0;
    padding: 0 10px;
  }
} */
